@page
@model Project.DeleteModel

@{
    ViewData["Title"] = "Delete Project";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblProjects</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblProjects.ProjectName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblProjects.ProjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblProjects.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblProjects.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblProjects.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblProjects.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblProjects.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblProjects.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblProjects.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblProjects.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblProjects.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblProjects.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblProjects.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblProjects.ModifiedDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TblProjects.ProjectID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
